* {
    box-sizing: border-box;

    outline: none;

    word-wrap: break-word;
}

body{
    background-color: #121214;

    margin: 0;
    padding: 0;
    border: 0;

    color: #04d361;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    font-size: 93.75%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;

    margin: -1px;

    overflow: hidden;

    clip: rect(0, 0, 0, 0);

    white-space: nowrap;

    border-width: 0;
}

::-webkit-scrollbar{
    width: 1rem;

}

::-webkit-scrollbar-track {
    background-color: #323238;
}

::-webkit-scrollbar-thumb {
    background-color: #04d361;

    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #04d3618b;
}

a,
#button,
#button2{

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .2rem;

    padding: 1.1rem 1rem;

    color: #fff;
    font-size: 1.3rem;
    font-weight: bolder;
    text-decoration: none;

    background-color: #8257e5;

    border-radius: 10px;
    border: 2px solid black;

}

header{
    position: absolute;
    top: 0;

    width: 100%;
    height: 10rem;
    padding: 0 .7rem;
    margin: .1rem auto;

    text-align: start;

    color: #fff;

    border-bottom: 2px solid #323238;

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 2rem;
}

header h2{
    font-size: 1.5rem;
}

header div.content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
}

header div.content img{
    width: 7rem;
    height: 7rem;

    transform: rotate(90deg);
}



main{
    margin: 13rem 0 3rem;
    padding: 0 .5rem;

    display: grid;
    justify-content: space-around;
    align-items: center;

    text-align: center;

}

.form{
    transition: all 300ms;
}

main section.form h2{
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
}

main section.form div.content div.texts p{
    color: #010102ba;

    font-size: 1.5rem;
}

main section.content div.texts{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;

}

main section.content a.btnForm{

    padding: 1rem .5rem;

    width: 13rem;

    margin: 2rem auto;

}main section.content a.btnForm:hover{
    transform: translateY(-.2rem);
}

main section.content a.btnForm img.img{
    transform: rotate(90deg);
}

main section.content a.btnForm img.img.active{
    transform: rotate(-90deg);
}

main section.form.active{
    width: min(60rem, 90vw);
    margin: 20px auto 0;

    opacity: 1;
    visibility: visible;
    height: 100%; 
}

main section.form {
    background-color: #ff4f4f;
    color: #fff;

    border: 1px solid black;
    border-radius: 1rem;

    padding: 1rem 2rem;

    opacity: 0;
    visibility: hidden;
    height: 0;

    overflow: auto;
}

main section.form div.content{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

main section.form div.content form{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: .3rem;

    text-align: start;
}

main section.form div.content form input{
    padding: .5rem .2rem;
    width: 100%;
    height: 85%;

    background-color: transparent;

    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: .5rem;

    font-size: 20px;
    font-weight: bolder;

    color: rgba(0, 0, 0, 0.8);;

}input::placeholder{
    color: rgba(0, 0, 0, 0.6);
    
}

main section.form div.content form p.question {
    font-size: 1.5rem;
}

div.loginSocial {
    margin-top: 2rem;
    padding: .5rem 0;

    border-top: 2px solid black;

    text-align: start;
}

div.login {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
    
    margin-top: 3rem;
}

main section div.login div#login_gitHub {
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #323238;

    width: 23rem;

    padding: 1rem;

    border-radius: 1rem;

}

main section div.login div#login_gitHub img.git{
    padding: .1rem;
    width: 3rem;

    background-color: #fff;

    border-radius: 100%;
}

main section div.login div#login_gitHub div.inpGit {
    position: relative;
}

main section div.login div#login_gitHub input {

    background-color: transparent;
    border: none;
    border-bottom: 3px solid #04d361;

    font-size: 1rem;

    color: #fff;
}
main section div.login div#login_gitHub input ~ label {
    position: absolute;
    left: 0;
    top: -5px;

    color: rgba(255, 255, 255, 0.6);
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    transition: .4s;

    cursor: text;
}
main section div.login div#login_gitHub input:focus ~ label,
main section div.login div#login_gitHub input:valid ~ label {
    transform: translateY(-20px);
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

main section div.login div#login_gitHub button {
    background-color: transparent;
    border: none;
}

@media only screen and (max-width:1090px){
    header {
        height: 23rem;
        text-align: center;
    }


    main{
        margin: 23.5rem 0;
    }
}

@media only screen and (max-width:800px){

    header h1{
        font-size: 2rem;
    }
    
    header h2{
        font-size: 1.1rem;
    }

    main section.form div.content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    main section.content div.texts h2 {
        font-size: 1.5rem;
    }
    
    main section.content div.texts h2 p {
        font-size: 1rem;
    }

    form {
        width: 100%;
    }

    main section div.login div#login_gitHub {
        width: 15rem;
    
    }
    
}
